$blue: #108ee9;
$brown: #fffaf5;
$black1: #4a4a4a; //主内容文字
$black2: #929292; // 副内容文字
$white: #fff;

.clearfix {
    zoom: 1;
    &:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
}
.news {
    .news-menu,
    .news-menu-mobile{
        position: fixed;
        margin-top: 26px;
        .ant-menu-item {
            .news-menu-item{
                text-align: center;
                &:hover {
                    color: $blue;
                }
            }
        }
        .ant-menu-item-selected.news-menu-item{
            &:hover {
                color: #fff;
            }
        }
    }
    .news-menu-mobile{
        display: none;
        margin-top: 0;
        .ant-menu-item{
            -webkit-tap-highlight-color: rgba(0,0,0,0.3);
        }
        .ant-menu-item-selected.news-menu-item{
            color: $blue;
        }
    }
}

.news {
    .news-menu{
        .ant-menu-item {
            padding: 0 !important;
        }
    }
}

.content-container {
    @extend .clearfix;
    margin-left: 150px;
    .contents {
        width: 80%;
        max-width: 660px;
        float: left;
    }
    .weather{
        float: left;
        width: 20%;
        min-width: 210px;
        max-width: 240px;
        margin-top: 10px;
    }
}

.content {
    margin: 10px;
    @extend .clearfix;
    .comment-container {
        padding: 10px 12px 0;
        position: relative;
        border-radius: 4px;
        background-color: $brown;
        .comment-list{
            @extend .clearfix;
            .comment-cell {
                .cell-container {
                    margin-bottom: 5px;
                    .comment-avatar {
                        width: 32px;
                        height: 32px;
                        float: left;
                    }
                    .comment-content {
                        span {
                            line-height: 15px;
                            color: $blue;
                            font-size: 12px;
                        }
                        span:last-child {
                            color: $black1;
                        }
                        .cell:first-child span:last-child {
                            margin-left: 10px;
                            word-break: break-all;
                        }
                        .cell {
                            line-height: 18px;
                            margin-left: 44px;
                            .comment-praise {
                                display: inline-block;
                                .comment-praised {
                                    margin: 0 3px 0 7px;
                                    display: inline-block;
                                    width: 12px;
                                    height: 15px;
                                    vertical-align: middle;
                                    background-image: url("/newsfeed/total-praise.png");
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                }
                            }
                            .time-format {
                                color: $black2;
                                margin-left: 10px;
                            }
                        }
                        .cell-media {
                            height: 210px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }
                    }
                }
                .cell-container-child{
                    .comment-avatar {
                        width: 20px;
                        height: 20px;
                    }
                    .comment-content {
                        .cell {
                            margin-left: 28px;
                        }
                    }
                }
                .comment-sub-list {
                    margin-left: 32px;
                    margin-top: 10px;
                    padding-left: 10px;
                    border-left: solid 1px $black2;
                }
                .commend-send-cell {
                    margin: 5px 0 10px 42px;
                }
                .comment-sub-load-more{
                    margin-left: 30px;
                    .comment-load-more{
                        display: inline-block;
                        margin-right: 10px;
                        width: 13px;
                        height: 17px;
                        background-image: url("/newsfeed/load-more.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        vertical-align: middle;
                    }
                    span{
                        color: $blue;
                        font-size: 14px;
                    }
                }
            }
        }
        .comment-send{
            padding: 2px 0;
            @extend .clearfix;
            .comment-send-avatar {
                width: 40px;
                height: 40px;
                float: left;
            }
            .comment-input-container{
                margin-left: 49px;
                .comment-input {
                    border: inset 1px $black2;
                    min-height: 32px;
                    position: relative;
                    background-color: $white;
                    &>div:first-child{
                        margin: 5px 65px 2px 10px;
                        textarea {
                            font-size: 12px;
                            width: 100%;
                            margin-top: 2px;
                            background-color: transparent;
                            border: none;
                            resize: none;
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                    .comment-input-media-icon {
                        width: 15px;
                        height: 15px;
                        background-image: url("/newsfeed/media.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        right: 40px;
                        top: 10px;
                    }
                    .comment-input-emoji-icon {
                        width: 16px;
                        height: 16px;
                        background-image: url("/newsfeed/emoji.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        right: 12px;
                        top: 10px;
                    }
                }
                span {
                    font-size: 12px;
                    color: $black2;
                }
            }
        }
        .comment-send-child{
            .comment-send-avatar {
                width: 20px;
                height: 20px;
                margin-top: 1px;
            }
            .comment-input-container{
                margin-left: 28px;
                .comment-input {
                    min-height: 22px;
                    &>div:first-child{
                        margin: 0 65px -3px 8px;
                    }
                    .comment-input-emoji-icon,
                    .comment-input-media-icon {
                        top: 3px;
                    }
                }
            }
        }
        .show-more-comment{
            margin-bottom: 5px;
            span {
                font-size: 14px;
                color: $blue;
            }
            span:last-child{
                float: right;
            }
        }
    }
}

.content-img{
    width: 158px;
    height: 102px;
    overflow: hidden;
    img{
        transition: transform 0.5s;
    }
    &:hover img {
        transform: scale(1.2, 1.2);
    }
}

.content-with-img{
    float: left;
    padding-left: 168px;
    margin-top: -105px;
    width: 100%;
}

.content-title{
    display: block;
    font-size: 20px;
    color: #222;
    font-weight: 700;
    margin-bottom: 5px;
}

.content-sub-title{
    margin: 5px 0 10px 0;
    & div:first-child{
        display: inline-block;
        font-size: 14px;
        color: #777;
        a{
            color: #777;
            &:hover{
                color: $blue;
            }
        }
    }
    & div:last-child{
        display: inline-block;
        float: right;
        font-size: 12px;
        cursor: pointer;
        padding: 0 3px;
        transition: width 0.2s, height 0.2s;
        &:hover{
            background-color: #d73435;
            border-radius: 3px;
            color: white;
            &:before{
                content: ' 不感兴趣 ';
            }
        }
    }
}
a:visited{
    color: #999;
}
a:hover{
    color: $blue;
}

.content-opt{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: $blue;
}
.nav-menu .ant-menu{
    & .ant-menu-item {
        top: -2px;
    }
    & .ant-menu-item-selected{
        border-bottom: solid 2px #108ee9;
        a{
            color: $blue;
        }
    }
}

.thanks,
.about {
    width: 60%;
    min-width: 500px;
    margin: 0 auto;
    padding: 1em;
}

.bg-image{
    display: inline-block;
    background-image: url("../image/favicon.ico");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.praise{
    background-image: url("../image/praise.png");
    cursor: pointer;
}

.parse-text {
    cursor: pointer;
}

.comment-more{
    margin-right: 10px;
    background-image: url("../image/load-more.png");
}

.image-wrapper { //默认是contain布局
    //display: table;
    overflow: hidden;
    height: 100%;
    .image-wrapper-inner {
        //display: table-cell;
        position: relative;
        //width: 100%;
        height: 100%;
        img {
            min-width: auto;
            height: auto;
            ////min-height: 100%;
            //_height: auto;
        }
        .image-desc {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            margin-top: -22px;
            text-align: center;
            span {
                font-size: 36px;
                color: $white;
            }
        }
    }
    &.contain {
        .image-wrapper-inner {
            img {
                width: auto;
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &.cover { //cover布局
        .image-wrapper-inner {
            img {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &.resize {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
    &.full {
        .image-wrapper-inner {
            img {
                width: 100%;
                position: relative;
            }
        }
    }
}

.ant-back-top-content:hover {
    background-color: $blue;
    color: #fff;
}

.content-detail{
    color: #222222;
    font-size: 16px;
    line-height: 28px;
    word-wrap: break-word;
}

@media screen and (min-width: 0) and (max-width: 500px){
    .ant-layout-header{
        padding: 0;
    }
    .news {
        .news-menu {
            display: none;
        }
        .news-menu-mobile{
            z-index: 101;
            background-color: #f4f5f6;
            width: 100%;
            display: block;
            height: 46px;
            overflow: auto;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar {
                display: none;
            }
            .ant-menu {
                width: 512px;
                display: block;
                background-color: transparent;
                border-bottom-color: #f4f5f6;
                .ant-menu-item {
                    color: #505050;
                    display: inline-block;
                    font-size: 1.25em;
                }
            }
        }
    }
    .content-container{
        margin-top: 46px;
    }
    .content-img{
        text-align: center;
        width: 100%;
        height: 100%;
        max-height: 200px;
    }
    .content-with-img{
        float: none;
        padding-left: 0;
        margin-top: 0;
    }
    .content-container {
        margin-left: 0;
        .contents {
            width: 100%;
        }
        .weather {
            display: none;
        }
    }
    .ant-back-top{
        right: 50px;
        bottom: 25px;
    }
    .thanks,
    .about {
        width: 100%;
        min-width: initial;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px){
    .ant-layout-header{
        padding: 0 10px;
    }
    .news {
        .news-menu {
            width: 40px!important;
        }
    }
    .content-container {
        margin-left: 45px;
        .contents {
            width: 98%;
        }
        .weather {
            display: none;
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 1015px){
    .content-container {
        .contents {
            width: 98%;
        }
        .weather {
            display: none;
        }
    }
}
