@import url(~antd/dist/antd.css);
@import url(style/news.css);
@import url(style/weather.css);
.App {
  text-align: center;
}

.nav {
  clear: both;
  overflow: hidden;
}

.nav-logo {
  float: left;
  height: 64px;
}

.nav-title {
  float: left;
  font-size: 32px;
  line-height: 64px;
  color: #108ee9;
}

.nav-menu {
  float: right;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 64px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
