@import url(~antd/dist/antd.css);
@import url(style/news.css);
@import url(style/weather.css);
.App {
  text-align: center; }

.nav {
  clear: both; }

.nav-logo {
  float: left; }

.nav-menu {
  float: right; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 64px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
